In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName("PySpark Jobs").getOrCreate()

In [0]:
employee_data = [
(1001, "Oliver Smith", "Marketing", 45000),
(1002, "Emma Jones", "Human Resources", 52000),
(1003, "Harry Williams", "Finance", 61000),
(1004, "Sophia Brown", "IT", 58000),
(1005, "George Taylor", "Sales", 49000),
(1006, "Isabella Davies", "Customer Service", 41000),
(1007, "Charlie Evans", "Research", 55000),
(1008, "Amelia Thomas", "Legal", 68000),
(1009, "Jack Johnson", "Operations", 53000),
(1010, "Ava Roberts", "Marketing", 47000),
(1011, "Alfie Wilson", "Human Resources", 50000),
(1012, "Isla Patel", "Finance", 59000),
(1013, "Oscar Thompson", "IT", 62000),
(1014, "Mia White", "Sales", 51000),
(1015, "Max Hughes", "Customer Service", 43000),
(1016, "Poppy Clarke", "Research", 57000),
(1017, "Leo Walker", "Legal", 70000),
(1018, "Evie Robinson", "Operations", 54000),
(1019, "Archie Wright", "Marketing", 46000),
(1020, "Freya Green", "Human Resources", 51000),
(1021, "Theo Hall", "Finance", 63000),
(1022, "Ella Wood", "IT", 60000),
(1023, "Noah Harris", "Sales", 52000),
(1024, "Rosie Martin", "Customer Service", 42000),
(1025, "Arthur Jackson", "Research", 56000),
(1026, "Florence Edwards", "Legal", 69000),
(1027, "Freddie Lewis", "Operations", 55000),
(1028, "Willow Morgan", "Marketing", 48000),
(1029, "Henry Cook", "Human Resources", 53000),
(1030, "Ivy Baker", "Finance", 
|1006|Isabella Davies|Customer Service| 41000|
|1007|  Charlie Evans|        Research| 55000|
|1008|  Amelia Thomas|           Legal| 68000|62000)
]

In [0]:
rdd = spark.sparkContext.parallelize(employee_data)
rdd.collect()

[(1001, 'Oliver Smith', 'Marketing', 45000),
 (1002, 'Emma Jones', 'Human Resources', 52000),
 (1003, 'Harry Williams', 'Finance', 61000),
 (1004, 'Sophia Brown', 'IT', 58000),
 (1005, 'George Taylor', 'Sales', 49000),
 (1006, 'Isabella Davies', 'Customer Service', 41000),
 (1007, 'Charlie Evans', 'Research', 55000),
 (1008, 'Amelia Thomas', 'Legal', 68000),
 (1009, 'Jack Johnson', 'Operations', 53000),
 (1010, 'Ava Roberts', 'Marketing', 47000),
 (1011, 'Alfie Wilson', 'Human Resources', 50000),
 (1012, 'Isla Patel', 'Finance', 59000),
 (1013, 'Oscar Thompson', 'IT', 62000),
 (1014, 'Mia White', 'Sales', 51000),
 (1015, 'Max Hughes', 'Customer Service', 43000),
 (1016, 'Poppy Clarke', 'Research', 57000),
 (1017, 'Leo Walker', 'Legal', 70000),
 (1018, 'Evie Robinson', 'Operations', 54000),
 (1019, 'Archie Wright', 'Marketing', 46000),
 (1020, 'Freya Green', 'Human Resources', 51000),
 (1021, 'Theo Hall', 'Finance', 63000),
 (1022, 'Ella Wood', 'IT', 60000),
 (1023, 'Noah Harris', 'Sales', 52000),
 (1024, 'Rosie Martin', 'Customer Service', 42000),
 (1025, 'Arthur Jackson', 'Research', 56000),
 (1026, 'Florence Edwards', 'Legal', 69000),
 (1027, 'Freddie Lewis', 'Operations', 55000),
 (1028, 'Willow Morgan', 'Marketing', 48000),
 (1029, 'Henry Cook', 'Human Resources', 53000),
 (1030, 'Ivy Baker', 'Finance', 62000)]

In [0]:
rdd_df = rdd.toDF()
rdd_df.show()

+----+---------------+----------------+-----+
|  _1|             _2|              _3|   _4|
+----+---------------+----------------+-----+
|1001|   Oliver Smith|       Marketing|45000|
|1002|     Emma Jones| Human Resources|52000|
|1003| Harry Williams|         Finance|61000|
|1004|   Sophia Brown|              IT|58000|
|1005|  George Taylor|           Sales|49000|
|1006|Isabella Davies|Customer Service|41000|
|1007|  Charlie Evans|        Research|55000|
|1008|  Amelia Thomas|           Legal|68000|
|1009|   Jack Johnson|      Operations|53000|
|1010|    Ava Roberts|       Marketing|47000|
|1011|   Alfie Wilson| Human Resources|50000|
|1012|     Isla Patel|         Finance|59000|
|1013| Oscar Thompson|              IT|62000|
|1014|      Mia White|           Sales|51000|
|1015|     Max Hughes|Customer Service|43000|
|1016|   Poppy Clarke|        Research|57000|
|1017|     Leo Walker|           Legal|70000|
|1018|  Evie Robinson|      Operations|54000|
|1019|  Archie Wright|       Marketing|46000|
|1020|    Freya Green| Human Resources|51000|
+----+---------------+----------------+-----+
only showing top 20 rows

In [0]:
columns = ["id", "full name", "department", "salary"]

rdd2 = rdd.toDF(columns)
rdd2.show()

+----+---------------+----------------+------+
|  id|      full name|      department|salary|
+----+---------------+----------------+------+
|1001|   Oliver Smith|       Marketing| 45000|
|1002|     Emma Jones| Human Resources| 52000|
|1003| Harry Williams|         Finance| 61000|
|1004|   Sophia Brown|              IT| 58000|
|1005|  George Taylor|           Sales| 49000|
|1006|Isabella Davies|Customer Service| 41000|
|1007|  Charlie Evans|        Research| 55000|
|1008|  Amelia Thomas|           Legal| 68000|
|1009|   Jack Johnson|      Operations| 53000|
|1010|    Ava Roberts|       Marketing| 47000|
|1011|   Alfie Wilson| Human Resources| 50000|
|1012|     Isla Patel|         Finance| 59000|
|1013| Oscar Thompson|              IT| 62000|
|1014|      Mia White|           Sales| 51000|
|1015|     Max Hughes|Customer Service| 43000|
|1016|   Poppy Clarke|        Research| 57000|
|1017|     Leo Walker|           Legal| 70000|
|1018|  Evie Robinson|      Operations| 54000|
|1019|  Archie Wright|       Marketing| 46000|
|1020|    Freya Green| Human Resources| 51000|
+----+---------------+----------------+------+
only showing top 20 rows